
/* File: movies.css */
.movies {
  padding: 2rem;
  background-color: #fff;
  margin-top: 2rem;
}
.movies h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}
.movie-card {
  position: relative;
  text-align: center;
  background: #f0f0f0;
  padding: 1rem;
  border-radius: 10px;
}
.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}
.movie-card .badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
}

.movie-stars img {
  width: 18px !important;
  height: 18px !important;
}
